<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Extruder Configuration</title>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/index.css') }}">
    </head>
    <body>
        <form class="material-data" method="POST" action="/">
            <h3 class="display-header">Select desired material:</h3>
            <select id="material-select">
                <option selected value="default">-- Material --</option>
                {% for material in materials %}
                    <option value="{{ material }}">{{ material }}</option>
                {% endfor %}
            </select>
            <div id="display-info">
                <h4 class="display-header">Displaying Data for: {{ selectedMaterial }}</h4>
                <table>
                    <tr>
                        <th>Feed<br>Rate</th>
                        <th>Minimum<br>Temperature</th>
                        <th>Maximum<br>Temperature</th>
                        <th>Target<br>Temperature</th>
                    </tr>
                    <tr>
                        <th>{{ feedRate }}</th>
                        <th>{{ minTemp }}</th>
                        <th>{{ maxTemp }}</th>
                        <th>{{ targetTemp}}</th>
                    </tr>
                </table>
            </div>
        </form>
    </body>
    <script src="{{ url_for('static', filename='js/index.js') }}"></script>
</html>