<!DOCTYPE html>
<html>
    <head>
        <style>
            tr, th {
                border: 1px solid black;
                margin-top: 12px;
                margin-left: 24px;
                padding: 4px;
            }
            select {
                margin: 12px;
            }
        </style>
    </head>
    <form method="POST" action="/">
        <h3>Select desired material:</h3>
        <select>
            <option selected value="default">-- Material --</option>
            {% for material in materials %}
                <option value="{{ material }}">{{ material }}</option>
            {% endfor %}
        </select>
        <table>
            <tr>
                <th>Minimum<br>Temperature</th>
                <th>Maximum<br>Temperature</th>
                <th>Target<br>Temperature</th>
            </tr>
            <tr>
                <th>{{ minTemp }}</th>
                <th>{{ maxTemp }}</th>
                <th>{{ targetTemp}}</th>
            </tr>
        </table>
    </form>
</html>